*.TMP
*.[oa]
*.lo
*.so
*.so.*
*.la
*.Plo
*.lai
*.orig
*.cmd
*~
.deps/
.libs/
a.out
aclocal.m4
autom4te.cache/
config.*
configure
Makefile
debug
deleteme.*
deleteme
deleteme/
depcomp
install-sh
lib/
libtool
ltmain.sh
Makefile.qoriq-perf.am
m4/
missing
event_counter_c_test

